.main-form {


    width: 20rem;
    margin: 0 auto;
    padding: 20px;


}

.form-toggle {

    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 100%;
    align-items: center;
    gap: 10px
}

.form-toggle div {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}

.form-toggle div:hover {
    background-color: green;
}

.toggle-select {

    background-color: black;
    color: white;
}



.form-info {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
}

form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}