.main-form {


    width: 20rem;
    margin: 0 auto;
    padding: 20px;


}

.form-info {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
}

form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}