body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-family: Roboto, sans-serif;


}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}

#logo {
    height: 4rem;
    margin: -20px 0;
}

#language {
    top: 1px;
    right: 1px;
    position: absolute;
    height: 1rem;
}

.nav-section ul {

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.item {
    padding-top: 10px;
}

.dropdown {
    position: relative;

}

.dropdown ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -3;
    padding-top: 1rem;
    gap: 0 !important;
}

.dropdown ul li {
    padding: 10px;

    border: white 1px solid;
    color: white;
    background-color: black;
}

.dropdown ul li:hover {
    background-color: #38d996;
}

.item:hover {
    color: #38d996;
    text-decoration: underline;
}





.dropdown-hide {
    top: -15rem;
}

.dropdown:hover .dropdown-hide {
    top: 1.3rem;
    z-index: 10;
}

.info-ico {
    height: 1rem;

}

.arrow {
    height: 0.6rem;
    transform: rotate(-90deg);
}

.dropdown:hover .arrow {
    transform: rotate(0);
    transition: 0.5s;
}